version: 2
updates:
  - package-ecosystem: gradle
    directory: /
    schedule:
      interval: cron
      cronjob: "0 0 16 * *"
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: cron
      cronjob: "0 0 16 * *"
